.loader-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes ldio-dwszjycg4m {
  0% {
    top: 90.72999999999999px;
    left: 90.72999999999999px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 9.495px;
    left: 9.495px;
    width: 162.47px;
    height: 162.47px;
    opacity: 0;
  }
}

.ldio-dwszjycg4m div {
  position: absolute;
  border-width: 14.77px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-dwszjycg4m 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-dwszjycg4m div:nth-child(1) {
  border-color: #eb6864
}

.ldio-dwszjycg4m div:nth-child(2) {
  border-color: #eb6864;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple-4vw6kl4sciq {
  width: 211px;
  height: 211px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-dwszjycg4m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-dwszjycg4m div { box-sizing: content-box; }
