@import "../../../scss/variables";

.worklog {
  &__title {
    position: relative;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 0;

    color: $primary;
    font-size: 3rem;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;

      display: block;
      width: 7%;
      height: 10px;

      border-radius: 10px;
      background-color: $primary;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__item {
    padding: 1.5rem;
  }

  &__header th {
    padding: .5rem;

    border: 1px solid #dee2e6;
    text-align: center;
  }

  &__table {
    width: 320px;
    margin-bottom: 40px;
  }

  &__rows td {
    padding: .7rem;

    border: 1px solid #dee2e6;
  }

  &__rows td:nth-child(1) {
    text-align: center;
  }
}
