@import '../../scss/variables';
.home {
  .with-bg {
    min-height: 500px;
    background: url('./main_bg.jpeg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @media screen and (max-width: 480px) {
      min-height: 380px;
      background-attachment: initial;
    }
    h1 {
      color: $white;
      font-size: 60px;
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
      transform: translateY(-100px);
      transition: all .7s;
      &.visible {
        opacity: 1;
        transform: translateY(80px);
      }
      @media screen and (max-width: 480px) {
        font-size: 35px;
      }
    }
  }
  .text-block {
    margin-bottom: 50px;
  }
}
