@import '../../scss/variables';
.home {
  .with-bg {
    min-height: 500px;
    background: url('./main_bg.jpeg') center center no-repeat;
    background-size: cover;
    h1 {
      color: $white;
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
      transition: all .7s;
    }
    .title-enter {
      opacity: 0;
      transform: translateY(700px);
    }
    .title-enter-done {
      opacity: 1;
      transform: translateY(300px);
    }
    .title-exit {
      opacity: 1;
      transform: translateY(300px);
    }
    .title-exit-done {
      opacity: 0;
      transform: translateY(700px);
    }
  }
  .text-block {
    margin-bottom: 50px;
  }
}
