@import '../../scss/variables';

.photographer__item{
    display: block;
    border: 1px solid $gray-300;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .25rem;
    transition: all .3s;
    color: black;
    &:hover {
        text-decoration: none;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        color: black;
    }
}