@import "../../scss/variables";

.author{
  display: flex;
  &__photo{
    img {
      width: 100%;
    }
  }
  &__name {
    margin-bottom: 15px;
  }
  &__years{
    color: $gray-500;
    margin-bottom: 1rem;
  }
}
